.carrusel{

    display: flex;
    position: relative;
    background-color: antiquewhite;
     width: 100%;
    height: 400px;
    overflow: hidden;
    align-items: center;
    justify-content: center;

}

.carrusel img{
   
    width: 100%;
    right: 100%;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    user-select: none;
    object-fit: cover;
    object-position: center;
    
}
.slide-hidden{
    display: none;
}

.arrow{
    position: absolute;
    width: 2rem;
    height: 2rem;
    filter: drop-shadow(0px 0px 5px #666);
    color: white;
    cursor: pointer;
    
}

.arrow_left{
    left: 1rem;
}

.arrow_right{
    right: 1rem; 
}

.group_indicador{
    display: flex;
    position: absolute;
    bottom: 1rem;
}

.indicador{


    border:none;
    outline: none;
    width: 0.5rem;
    height: 0.8rem;
    background: #ef823a;
    box-shadow: 0px 0px 5px #555;
    border-radius: 100%;
    margin: 0 0.2rem;
    cursor: pointer;
}

.indicador-presionado{
    background: gray;
}



