.lista-productos{
    display: flex;
    flex-wrap: wrap;

        
}

.producto{

    background: white;
    margin: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 15%;
    
    border-bottom: 1px solid #ef823a;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    padding: 5px;

    

}


.producto .mask img{
    width: 100%;
}

.producto .mask{

    width: 100%;
    height: auto;
    overflow: hidden;

  
    

}


.lista-productos .producto strong{
    color: #ef823a;
}
.lista-productos .producto h3{
    font-weight: normal;
    font-size: 0.8rem;
}

.lista-productos .producto a{
    text-decoration: none;
    color: #ef823a;
}

.lista-productos .producto span{
    margin: 10px;
    color: #ef823a;
}

.lista-productos .producto .precio{

    font-weight: bolder;
}

.lista-productos .producto .detalle{
    cursor: pointer;
   
    text-decoration: underline;
}


.lista-productos .producto button{

  color: white;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}

.lista-productos .producto section {
    user-select: none;

    text-align: center;
 
}

.lista-productos .producto .pedido{


    background-color: #058288;

}

.lista-productos .producto .carrito{
  
 
    background-color: #ef823a;
}

.lista-productos .producto .pedidoAgregado{
    display: flex;
    justify-content: center;
  

}

.lista-productos .producto .pedidoAgregado .arrowProducto{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
color: white;
filter: drop-shadow(0px 0px 3px #ddd);
margin-right: 10px;
margin-left: 10px;

}




@media screen and (max-width:900px) {
    
    .producto{
        flex-basis: 20%;
        margin: 5px;
        height: auto;
    }

  
    
}