@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');



body{

  width: 100%;
  background-image: url('/public/backround/194.png');
  background-repeat: no-repeat;              
  background-size: cover;                     
  background-position: center;    
  background-attachment: fixed;
 


  

}


.layout{

  font-family:'Baloo 2', cursive;
  width: 100%;
   

    /*
    display: grid;
    grid-template-areas: "carr"
                         "nav"
                         "content"
                         "footer";*/
    display: flex;
    flex-direction: column;
   grid-template-columns: 1fr;
   /*overflow-x: hidden;*/
  




}

.header{

    grid-area: header;
   margin: 0;
  padding: 0;
  color: #282c34;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}

.navHead{

  /**/
 display: grid;

 grid-template-areas: "logo navegador";

}

.logo{
  grid-area: logo;
  color: white;
}

.logo .logoImage{
  width: 150px;
  height: 100px;
}
.nav{
 
  grid-area: nav;
  width: auto;  
  height: auto;
  background : linear-gradient(135deg, #53a6a9, #028285);
  border-bottom:solid 3px #058288;

  position: sticky;
  top: 0;
  z-index: 1000;

}

.nav ul{

  grid-area: navegador;
  

  display: flex;

  
  margin-right: 10px;
 justify-content: end;
 list-style: none;
 color: white;
}

.nav li{
  font-weight: bold;
  margin-right: 30px;
  text-decoration: none;
  color: white;
  transition: all 300ms;
}



nav li a{
  text-decoration: none;
  transition: all 300ms;
}








.nav_activado,
.nav li a:hover{
  color: #ef823a;
  
}


.not_nav_activado{

  color: #ffffff;

}


/* CONTENIDO BODY*/
.content{
  
  
  display: flex;
  flex-direction: column;

  justify-content: center;
  
  
  

  grid-area: content;
  
  width: 100%;
  height: auto;
  /*min-height: 100vh;*/
  

}



.content .inicio{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .slogan{
    margin-top: -20vw;
  z-index: 1;
  width: 100%;
  text-align: center;
 
  color:#ffffff ;

  text-shadow: 5px 5px 5px  #282828;
  animation: glow 1.5s infinite alternate;
}
@keyframes glow {
   from { text-shadow: 0 0 10px #ff00b3; }
  to   { text-shadow: 0 0 20px #1900ff; }
}

.content .slogan img{

  width: 35vw;
  height: auto;
}

.content .masComprado{
  width: 100%;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}



.content .menuPrincipal .categoria .lista-productos{
 display: flex;
  flex-direction: row ;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  align-items: center;


 
  width: 100%;

  min-width: 0;
  overflow-y: auto;
  

}

.content .menuPrincipal{

    flex-direction: column;
  justify-content: center;
  width: 100%;

  background: white;  
}

.content .menuPrincipal,
.content .menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  background: white;  

}
.content .menuPrincipal h2,
.content .menu h1,.content .menu h2{
    text-align: center;
  
  color:#ffffff ;

  text-shadow: 5px 5px 5px  #282828;
  animation: glow 1.5s infinite alternate;
}
.content .menu h1{
  background: white;
  font-size: 5rem;
}


.content .DatoProducto{
  background: white;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px #ddd;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.content .DatoProducto mask{

  width: 50%;
  overflow: hidden;
}

.content .DatoProducto mask img{
  width: 100%;
  height: auto;
}

.content .categoria{
  margin-top: 5vw;
  padding-top: 5vw;
  margin-bottom: 5vw;
  padding-bottom: 5vw;
  background:rgb(255, 255, 255);

}


.content .masInfo{
  width: 100%;
  background-color: white;
  text-align: center;
    margin-top: 30px;
 
}

.content .masInfo button{
  background-color: #028285;
  color: white;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 5px;
}





.content .inicio .descripcion{
  

  width:100%;
  height: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  border-radius: 10px;

 

  color: #058288;
 
}

.content .inicio .descripcion img{

  width: 100%;
  height: auto;
}

.content .seccionCarrito{
  
    display: flex;
    justify-content: center;

  height: auto;
 
 

  color: #a09f9f;
  

  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px #ddd ;

}

.content .seccionCarrito button{
    background-color: #028285;
  color: white;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 5px;
  
}


.content .noCarritoPedido{
  display: flex;
  justify-content: center;
  align-items: center;

    background: white;
 align-items: center;
  justify-content: center;
 height: 100vh;
 width: 80%;
 margin: 10px;
 border: 1px solid #ddd;
 box-shadow: 2px 2px 2px #ddd;
 border-radius: 10px;
 padding: 15px;
 align-items: center;

}

.content .carritoPedido{

  width: 100%;

 display: flex;
  flex-direction: row;
  justify-content: center;
 

 /* display: grid;
  grid-template-columns: calc(100% - 392px) auto;*/

}



.content .pedidos{
    width: 60%;
    padding: 1rem;
}

.content .resumenCompra{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 30%;
  height: 200px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px #ddd;
  border-radius: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem ;

    top: calc(100px + 1rem);
  
  position: sticky;


}

.ventanaConfirmacion section .pedido ,
.content .carritoPedido .pedido{


 
  height: auto;
  border-radius: 10px;
  border-bottom: 5px solid #ddd;
  box-shadow: 0px 5px 15px #ddd;
  background: #ffffff;

  

}

.ventanaConfirmacion section .pedido .datosPedido,
.content .carritoPedido .pedido .datosPedido{
  display: flex;
  flex-direction: row;
}

.ventanaConfirmacion section .pedido .datosPedido2,
.content .carritoPedido .pedido .datosPedido2{
  color: #ef823a;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
}

.ventanaConfirmacion section .pedido .datosPedido2 span,
.content .carritoPedido .pedido .datosPedido2 span{
  display: flex;
  margin-right: 5px;
  margin-left: 5px;

  
} 

.content .carritoPedido .pedido .datosPedido2 span .arrowCarrito{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
color: white;
filter: drop-shadow(0px 0px 3px #ddd);
margin-right: 2rem;
margin-left: 2rem;
}

.ventanaConfirmacion section .pedido  span,
.content .carritoPedido .pedido span{
  color: rgb(0, 0, 0);
 margin-left: 3rem;
  margin-right: 3rem;
  font-size: 1.5rem;

  /*align-content: center;*/
}
.ventanaConfirmacion section .pedido  .mask,
.content .carritoPedido .pedido .mask{

  width: 30rem;
  height: auto;
  overflow: hidden;
}

.ventanaConfirmacion section .pedido img,
.content .carritoPedido .pedido img{
  
  width: 100% ;
  height: auto;
}



.ventanaConfirmacion .titulo-ticket{
  width: 100%;
display: flex;
flex-direction: row;
}






.ventanaConfirmacion .titulo-ticket p{
  flex-basis: 33%;
  font-weight: bold;
}

.ventanaConfirmacion .ticket{

  border: 1px solid #ddd;
  margin: 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
}

.ventanaConfirmacion .ticket .datos-ticket{
  width: 100%;
  flex-direction: column;

}

.ventanaConfirmacion .ticket .datos-ticket span{
  display: flex;
  width: 100%;
  flex-direction: row;
}
.ventanaConfirmacion .ticket .datos-ticket span p{
  flex-basis: 33%;
}





/* CONTENIDO FOOTER*/

.piePagina{
  background-color: #058288;
  width: 100%;
}

.footer{
  height: 100px;
  text-align: center;
  grid-area: footer;
  width: 100%;
  /*height: auto;*/
  color: white;
  background-color: #ef823a;


}

.footer .menuInferior .datosFooter{

  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer .menuInferior p{
 margin-right: 30px;
}

.footer .menuInferior .datosDesarrollador{
  font-size: 10px;
}

.footer .menuInferior .datosDesarrollador a{
  font-weight: bold;
  text-decoration: none;
  color: #058288  ;
}




.ventanaConfirmacion{

  width: 100%;
  height: 100vh;

  background: #282c345d;

  display: flex;
  min-width: 0;
  justify-content: center;
  align-items: center;


 


}

.ventanaConfirmacion section{
  display: flex;
  flex-direction: column;
  background: white;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  
  
}
.ventanaConfirmacion button{
 
 
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 5px;
  width: 6rem;
  
}

.ventanaConfirmacion .button{
  background: #028285;
  color: white;
}


.button_active{
  background: #028285;
  color: white;
}

.button_not_active{
  background: #ddd;
  color: #000;
}

.base_complemento{
 
  width: 100%;
  display: flex;
  flex-direction: row;
    justify-content: center;
  align-items: center;
}

.base_complemento p{
  font-size: 12px;
}


.complemento{
  
    width: 1.2rem;
  height: 1.2rem;
   border: 3px solid #3a3a3a;
  border-radius: 100%;


}

.complemento_activado{


  background: #09bec7;


}

.complemento_no_activado{

background: #ddd;

}






.App-link {
  color: #61dafb;
}

@media screen and (max-width:900px) {

.nav ul{
  flex-wrap: wrap;
  flex-direction: column;
}
  .content .carritoPedido{
    flex-direction: column;
  }
  .content .resumenCompra{
    border-top: 1px solid #ddd;
    box-shadow: 0px 0px 5px #ddd;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1000;

  }

  .content .pedidos{
    width: 90%;
    padding: 0;
    margin: 0;
  }

.content .DatoProducto mask{
  width: 100%;
}

.content .DatoProducto{
    width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.ventanaConfirmacion{
  

width: 100%;
  
}

.ventanaConfirmacion section{
  
  padding: 0;
  margin: 0;
  width: 100%;
  background: #ffffff;
}

.ventanaConfirmacion section .pedido{
  width: 100%;
}
.content .carritoPedido{
   align-items: center;
}
.ventanaConfirmacion section .pedido .datosPedido,
.content .carritoPedido .pedido .datosPedido{

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .menuPrincipal,
.content .menu{

  margin: 0;
  width: 100%;
}

.ventanaConfirmacion section .pedido  .mask,
.content .carritoPedido .pedido .mask{

  width: 100%;
  margin: 0;
  padding: 0;
}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
