@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
.App-header {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.layout{
  font-family:'Baloo 2', cursive;
  width: 100%;
    height: auto;
    display: grid;
    grid-template-areas:
                         "nav nav nav nav"
                         "content content content content"
                         "footer footer footer footer"
    
    ;




}

.header{

    grid-area: header;
   margin: 0;
  padding: 0;
  color: #282c34;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}

.navHead{
 display: grid;

 grid-template-areas: "logo navegador navegador navegador";

}

.logo{
  grid-area: logo;
  color: white;
}

.logo .logoImage{
  width: 150px;
  height: 100px;
}
.nav{
  grid-area: nav;
  width: 100%;  
  height: auto;
  background : linear-gradient(135deg, #53a6a9, #028285);
  border-bottom:solid 3px #058288;
}

.nav ul{
  grid-area: navegador;
  

  display: flex;

  
  margin-right: 10px;
 justify-content: end;
 list-style: none;
 color: white;
}

.nav li{
  font-weight: bold;
  margin-right: 30px;
  text-decoration: none;
  color: white;
  transition: all 300ms;
}



nav li a{
  text-decoration: none;
  transition: all 300ms;
}








.nav_activado,
.nav li a:hover{
  color: #ef823a;
  
}


.not_nav_activado{

  color: #ffffff;

}


/* CONTENIDO BODY*/
.content{
  
  
  display: flex;
  flex-direction: column;

  justify-content: center;
  
  
  

  grid-area: content;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;

}

.content .inicio{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .masInfo button{
  background-color: #028285;
  color: white;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}





.content .inicio .descripcion{
  

  width: 300px;
  height: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  border-radius: 10px;
  margin-top: 25px;
  padding: 30px;
  background: antiquewhite;
  color: #058288;
 
}




/* CONTENIDO FOOTER*/


.footer{
  height: 100px;
  text-align: center;
  grid-area: footer;
  width: 100%;
  /*height: auto;*/
  color: white;
  background-color: #ef823a;


}

.footer .menuInferior .datosFooter{

  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer .menuInferior p{
 margin-right: 30px;
}

.footer .menuInferior .datosDesarrollador{
  font-size: 10px;
}

.footer .menuInferior .datosDesarrollador a{
  font-weight: bold;
  text-decoration: none;
  color: #058288  ;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
